.cell {
  width: 100px;
  height: 100px;
  padding: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.disabled {
  pointer-events: none;
}

.form-select{
  height: 40px;
}

.card-body {
  height: 100vh;
}

html {
  font-size: 16px;
}